fastembed==0.3.3
flashrank==0.2.10
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.59
langchain-groq==0.2.0
langchain-experimental==0.3.0
langchain-qdrant==0.1.4
langchain-ollama==0.3.2
python-dotenv==1.0.1
qdrant-client==1.10.1
streamlit==1.36.0
pypdfium2==4.30.0